@font-face {
    font-family: latob;
    src: url(../fonts/Lato-Bold.woff) format('woff'), url(../fonts/Lato-Bold.woff2) format('woff2');
}
@font-face {
    font-family: lator;
    src: url(../fonts/Lato-Regular.woff) format('woff'), url(../fonts/Lato-Regular.woff2) format('woff2');
}
@font-face {
    font-family: magrab;
    src: url(../fonts/Magra-Bold.woff) format('woff'),
    url(../fonts/Magra-Bold.woff2) format('woff2');
}
@font-face {
    font-family: quib;
    src: url(../fonts/Quicksand-Bold.woff) format('woff'),
    url(../fonts/Quicksand-Bold.woff2) format('woff2');
}
@font-face {
    font-family: rammet;
    src: url(../fonts/RammettoOne-Regular.woff) format('woff'),
    url(../fonts/RammettoOne-Regular.woff2) format('woff2');
}
@font-face {
    font-family: roboto;
    src: url(../fonts/Roboto-Regular.woff) format('woff'),
    url(../fonts/Roboto-Regular.woff2) format('woff2');
}