.more{
    height: 225px;
    background-color: #c8c10d;
}
.list{
    text-align: center;
}
.more-item{
    width: 250px;
    display: inline-block;
    margin-top: 49px;
}
.more-item span{
    font-size: 29px;
    color: #ffffff;
    font-weight: 400;
    font-family: lator;
}
.more-item a{
    text-decoration: none;
}
.more-item img{
    height: 50px;
    margin-bottom: 30px;
}