.product{
    height: 320px;
    background-color: #eae7e8;
}
.product .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.text-section{
    width: 550px;
    margin-bottom: 0;
    gap: 20px;
}
.name{
    font-size: 20px;
    color: #7a6666;
    font-weight: 700;
    font-family: latob;
    margin-bottom: 20px;
}
h1{
    font-size: 35px;
    color: #e32a62;
    font-weight: 600;
    font-family: magrab;
    margin-bottom: 20px;
}
.description{
    font-size: 13px;
    color: #7a6666;
    font-weight: 400;
    font-family: roboto;
    line-height: 1.6;
}
.product img{
    align-items: flex-end;
    height: 200px;
    width: auto;
    margin-bottom: -120px;
}