.yogurt{
    height: 371px;
    background-color: #eae7e8;
}
.yogurt .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.yogurt-text h2{
    font-size: 26px;
    color: #7a6666;
    font-weight: 700;
    font-family: latob;
}
.yogurt-text h1{
    font-size: 43px;
    color: #e32a62;
    font-weight: 600;
    font-family: magrab;
    margin-top: 30px;
}
.yogurt-text p{
    font-size: 20px;
    color: #7a6666;
    font-weight: 400;
    font-family: roboto;
    margin-top: 45px;
    line-height: 1.5;
}
.yogurt img{
    margin-bottom: -35px;
    width: 600px;
    margin-right: -30px;
}