.about{
    padding: 60px 0;
    background-color: #ffffff;
    margin-bottom: 60px;
}
.about-img img{
    width: 100%;
    object-fit: cover;
    display: block;
}
.about-content{
    display: flex;
    align-items: flex-start;
    gap: 40px;
}
.left-about{
    width: 399px;
    height: 700px;
    background-color: #efedee;
    padding: 35px 35px;
    line-height: 1.5;
}
.left-about h3{
    font-size: 34px;
    color: #cb3362;
    font-weight: 400;
    font-family: lator;
    margin-bottom: 60px;
    text-align: center;
}
.left-about p{
    font-size: 20px;
    color: #7a6666;
    font-weight: 400;
    font-family: roboto;
    line-height: 2.4;
    text-align: center;
}
.right-about h2{
    font-size: 34px;
    color: #cb3362;
    font-weight: 400;
    font-family: lator;
    margin-bottom: 30px;
}
.right-about p{
    font-size: 18px;
    color: #7a6666;
    font-weight: 400;
    font-family: roboto;
    line-height: 1.5;
    margin-bottom: 30px;
}
.about-content a{
    color: #7a6666;
}