.blog{
    padding: 60px 0;
    background-color: #ffffff;
    margin-top: 80px;
}
.blog-left{
    float: left;
    width: 63%;
}
.blog-left img{
    float: left;
    margin-right: 10px;
    width: 235px;
    height: 240px;
}
.blog-left h3{
    font-size: 34px;
    color: #cb3362;
    font-weight: 400;
    font-family: lator;
    padding-bottom: 10px;
}
.blog-left p{
    font-size: 20px;
    color: #7a6666;
    font-weight: 400;
    font-family: roboto;
    padding-left: 245px;
}
.right-second{
    margin-top: 60px;
}
button{
    font-size: 23px;
    color: #a5838e;
    font-weight: 700;
    font-family: lator;
    border: 2px solid #a5838e7b;
    background-color: #ffffff;
    padding: 10px 25px;
    margin-top: 40px;
    margin-left: 240px;
    margin-bottom: 35px;
    cursor: pointer;
    transition: 0.5s;
}
button:hover{
    transform: scale(1.1);
}
.load{
    margin-left: 210px;
    margin-bottom: 200px;
}
.blog-left hr{
    width: 500px;
}
.blog-right{
    float: right;
    width: 250px;
    height: 900px;
    background-color: #efedee;
    text-align: center;
    padding: 50px 40px;
    margin-bottom: 30px;
}
.recent-posts{
    font-size: 43px;
    color: #cb3362;
    font-weight: 600;
    font-family: magrab;
}
.blog-right h3{
    font-size: 34px;
    color: #cb3362;
    font-weight: 400;
    font-family: lator;
}
.blog-right p{
    font-size: 20px;
    color: #7a6666;
    font-weight: 400;
    font-family: roboto;
    line-height: 1.7;
    margin-top: 10px;
}
.button-right{
    margin-left: 0;
    background-color: #efedee;
    margin-top: 120px;
}
.img-right{
    width: 300px;
    margin-left: -25px;
    float: none;
}
p.small-text{
    font-size: 18px;
}