
.map-adress{
    background-color: rgba(252, 253, 253, 0.626);
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -65%);
    text-align: center;
}
.map-point img{
    display: block;
}
.map-adress h3{
    font-size: 34px;
    color: #cb3362;
    font-weight: 400;
    font-family: lator;
}
.map-adress p{
    font-size: 20px;
    color: #7a6666;
    font-weight: 400;
    font-family: roboto;
    line-height: 1.5;
}