.namepage{
  background-color: #c8c10d;
}
.namepage h3{
  color: #fff;
  padding: 30px;
  font-family: LatoR;
  font-size: 30px;
  text-align: center;
  font-weight: 400;
  text-transform: uppercase;
}