body.singlepost-page .singlepost{
    display: block;
}
.post-left{
    float: left;
    width: 63%;
}
.post-left img{
    margin-top: 135px;
}
.post-left h3{
    font-size: 34px;
    color: #cb3362;
    font-weight: 400;
    font-family: lator;
    margin-top: 50px;
}
.post-left p{
    font-size: 20px;
    color: #7a6666;
    font-family: roboto;
    margin-top: 40px;
    line-height: 1.7;
}
p.small-post{
    font-size: 17px;
    color: #7a6666;
    font-family: roboto;
    margin-top: 15px;
}
.post-left button{
    font-size: 23px;
    color: #a5838e;
    font-weight: 700;
    font-family: lator;
    border: 2px solid #a5838e7b;
    background-color: #ffffff;
    padding: 10px 25px;
    margin-top: 130px;
    margin-bottom: 135px;
    margin-left: 220px;
}
.post-left a{
    color: #a5838e;
    text-decoration: none;
}
.post-right{
    float: right;
    width: 250px;
    height: 900px;
    background-color: #efedee;
    text-align: center;
    padding: 50px 40px;
    margin-bottom: 30px;
    margin-top: 135px;
}
.recent-posts{
    font-size: 43px;
    color: #cb3362;
    font-weight: 600;
    font-family: magrab;
}
.post-right h3{
    font-size: 34px;
    color: #cb3362;
    font-weight: 400;
    font-family: lator;
}
.post-right p{
    font-size: 20px;
    color: #7a6666;
    font-weight: 400;
    font-family: roboto;
    line-height: 1.7;
    margin-top: 10px;
}
.button-right{
    margin-left: 0;
    background-color: #efedee;
    margin-top: 120px;
}
.img-right{
    width: 300px;
    margin-left: -25px;
    float: none;
}
p.small-text{
    font-size: 18px;
}
